@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/home.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/home.about.css" />
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h2>Про ліцей</h2>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-auto"><a class="btn" id="login-button" role="button" href="#nowadays">Сьогодення</a></div>
        <div class="col-md-auto"><a class="btn" id="login-button" role="button" href="#history">Історія ліцею</a></div>
        <div class="col-md-auto"><a class="btn" id="login-button" role="button" href="#fam-graduate">Видатні випускники</a></div>
        <div class="col-md-auto"><a class="btn" id="login-button" role="button" href="old_photos_album.html">Більше фотографій</a></div>
    </div>
</div>

<div class="container" id="nowadays">
    <h2>Сьогодення</h2>

    <figure class="toright">
        <p><a data-fancybox="gallery" href="~/images/about-us/ChudikWinner.jpg" data-caption="Переможець IV етапу Всеукраїнської олімпіади з математики"><img src="~/images/about-us/ChudikWinner.jpg" width=350></a></p>
        <figcaption>Перемога на IV етапі Всеукраїнської<br> учнівської олімпіади з математики</figcaption>
    </figure>
    <p><span class="bold-text">ДОЛИНСЬКИЙ НАУКОВИЙ ЛІЦЕЙ №1</span>  Долинської районної ради Івано-Франківської області – заклад спеціалізованої освіти ІІ-ІІІ ступенів наукового профілю, що забезпечує профільне навчання на основі поєднання змісту освіти, визначеного стандартом профільної середньої школи, і поглибленого вивчення окремих предметів з урахуванням здібностей та освітніх потреб здобувачів освіти з орієнтацією на продовження навчання на вищих рівнях освіти. </p>
    <p><span class="bold-text">Місія:</span> створення оптимальних умов для всебічного розвитку та самореалізації обдарованої дитини.</p>
    <p><span class="bold-text">Мета:</span> створити комфортне освітнє середовище для учнів та їх наставників через прогнозовану систему роботи, спрямовану на формування освіченої, інтелектуально розвиненої молодої людини.</p>
    <p><span class="bold-text">Переваги навчання в ліцеї:</span></p>
    <ul>
        <li>високий рівень базової освіти;</li>
        <li>викладання спецкурсів з математики, інформатики, ділового мовлення;</li>
        <li>
            факультативів та курсів за вибором з основ філософії, риторики; правознавства, історії, основ економіки ,креслення, фізики, хореографії;
            вивчення іноземних мов:  англійської , німецької, польської;
        </li>
        <li>психологічний супровід освітнього процесу</li>
    </ul>
</div>

<div class="container" id="history">
    <h2>Віхи історичного розвитку або з чого все починалось…</h2>

    <figure class="toright">
        <p><a data-fancybox="gallery" href="~/images/old.images/image5.jpg" data-caption="Ранкова зарядка 1935 рік"><img src="~/images/old.images/image5.jpg" width=450></a></p>
        <figcaption>Ранкова зарядка 1935 рік</figcaption>
    </figure>

    <p>- <span class="year">1904</span>  На місці старої одноповерхової будівлі з ініціативи бургомістра С.Котловського розпочато будівництво нової школи.</p>
    <p>- <span class="year">1908</span>  Нова школа прийняла своїх учнів. Її першим директором був Леон Гельман.</p>
    <p>- <span class="year">1911</span>  У дні ювілею М.Шашкевича заснована гімназія під управою письменника, композитора, етнографа М.Пачовського.</p>
    <p>- <span class="year">1922 - 1926</span>  У зв’язку з арештами вчителів окремі класи закриваються, замість гімназії почали існувати українські гімназійні курси</p>
    <p>- <span class="year">1927-1939</span>  Польська гімназія</p>
    <p>- <span class="year">1941</span> Перед ІІ світовою війною у школі навчалось 720 учнів і працювало 20 учителів. В час війни навчання було припинене, приміщення було спалене.
    <p>- <span class="year">1946-1957</span>  Всі труднощі відбудови повоєнного часу винесли Сова С.І.- директор, Климишин Т.М. - завуч. Навчання проводилося у дві зміни. Тоді Долинська міська рада прийняла рішення про розбудову школи.</p>
    <p>- <span class="year">1958</span>  Життя школи продовжилося у новому статусі – середня трудова політехнічна з виробничим навчанням. Для цього на подвір’ї побудували новий типовий двоповерховий корпус. До нього переселили старші, починаючи з п`ятого, класи. А старий корпус продовжував слугувати учням початкових класів.</p>

    <figure class="toleft">
        <p><a data-fancybox="gallery" href="~/images/old.images/image1.jpg" data-caption="Доктор Михайло Пачовський з родиною 30-ті рр."><img src="~/images/old.images/image1.jpg" width=450></a></p>
        <figcaption>Доктор Михайло Пачовський з родиною 30-ті рр.</figcaption>
    </figure>

    <p>- <span class="year">1961</span>  В школі здійснено перший випуск десятикласників. Впродовж 60-70-х років колектив школи був найкращим серед колективів навчальних закладів міста в організації навчально-виховної роботи з учнями. </p>
    <p>- <span class="year">1989</span>  Розпочався "новітній етап" в історії школи, яку того року очолив директор Макосій В.Б.. Почалося створення кабінетної системи. Оновлено виховний процес на гуманістичних, демократичних принципах. Під керівництвом завучів Гаразда М.С. та Осідач Е.Ю. реформувався навчальний процес. Школа повернула втрачений у вісімдесятих роках високий авторитет освітнього і культурного центру міста Долини.</p>
    <p>- <span class="year">1997</span>  Покращувалася навчально-матеріальна база школи. В будівлі закритого дитячого садочка "Берізка" розмістилися початкові класи. А поряд з традиційними предметами читанням, арифметикою були впроваджені хоровий спів, живопис, хореографія, третій урок фізкультури. У складі школи з`явилася дочірня філія для навчання учнів 1-4 класів. Першокласниками стали шестирічки. Організаторами навчально-виховної роботи тут булии прекрасні педагоги: Мельник Л.В., Штень Я.Й., Слюсарчук О. Д., Федьків Л.М., Карбівська Н.Б., Пігут Н.М., Мороз А.А., Ясінець О.П., Бірюкова Г.П.</p>
    <p>- <span class="year">1998</span>  Оновленою, гордою своїми учнями, славними випускниками і відданими педагогіці вчителями відзначила школа своє 90-річчя. Постали і нові завдання. В період соціально-економічної кризи в державі, колектив наполегливо виробляв перспективний план роботи і успішно виконує його.</p>
    <p>- <span class="year">2003</span>  Рішенням Долинської районної ради  №149-8/2003 від 20.05.2003р. реорганізовано Долинську загальноосвітню школу І-ІІІст.№1 в Долинську гімназію №1</p>
    <p>- <span class="year">2018</span>  Прийнято рішення районної ради про перепрофілювання гімназії у ДОЛИНСЬКИЙ НАУКОВИЙ ЛІЦЕЙ №1.</p>
</div>

<div class="container" id="fam-graduate">
    <h2>Золоте зерно істини</h2>
    <p>У навчальному закладі створено галерею випускників, яка є уособленням зв’язку поколінь, наступності шкільних традицій. Альма-матер цікавиться своїми випускниками, знає про долі багатьох з них. Випускники   досягли значних успіхів у галузях літератури, мистецтва, науки, техніки, економіки, медицини, педагогіки. </p>
    <p><p>Зі шкільної стежинки в життєву дорогу:</p>
    <a href="https://uk.wikipedia.org/wiki/%D0%90%D0%BD%D1%82%D0%BE%D0%BD%D0%BE%D0%B2%D0%B8%D1%87_%D0%9E%D0%BC%D0%B5%D0%BB%D1%8F%D0%BD_%D0%9C%D0%B8%D0%BA%D0%BE%D0%BB%D0%BE%D0%B2%D0%B8%D1%87">Омельян Антонович</a> (1914 - 2008) – український правник, громадський діяч. Доктор права (1943). Почесний громадянин Львова (2004)<br>
    <a href="https://uk.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%B1%D0%BE%D0%B2%D0%B8%D0%B9_%D0%92%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87
">Володимир Горбовий</a> (1899 - 1984) – діяч УВО і ОУН, адвокат у Галичині, оборонець у політичних процесах<br>
    Василь Тисяк (1900 - 1967) – український співак, лірично-драматичний тенор<br>
    <a href="https://uk.wikipedia.org/wiki/%D0%9E%D1%81%D0%B8%D0%BF_%D0%A2%D1%8E%D1%88%D0%BA%D0%B0">Тюшка Осип</a> (1908 - 1983) – борець за волю України, засновник ОУН, сподвижник С.Бандери<br>
    Йосип Набитович - професор, завідувач кафедри фізики Львівської політехніки<br>
    <a href="http://museum.dolyna.info/statti/z-istoriji-dolyny-vypusk-1/stanovlennya-ta-rozvytok-osvity-shkilnytstva-v-m-dolyni/">Генріх Стемлер</a> – письменник<br>
    Степан Коляджин (1901 - 1961) – редактор, поет, перекладач<br>
    <a href="https://uk.wikipedia.org/wiki/%D0%93%D1%80%D0%B8%D1%86%D0%B5%D0%B9_%D0%9E%D0%BA%D1%81%D0%B0%D0%BD%D0%B0_%D0%99%D0%BE%D1%81%D0%B8%D0%BF%D1%96%D0%B2%D0%BD%D0%B0">Оксана Грицей</a> (1915 - 1988) – українська художниця, майстер художнього різьблення і випалювання по дереву<br>
    Микола Хабер (1933 - 2008)– доктор технічних наук, професор, лауреат Державної премії України в галузі науки і техніки<br>
    Михайло Сеньків (1923 - 1993) - фізик-теоретик, декан фізичного факультету, завідувач кафедри теорії твердого тіла, завідувач кафедри теоретичної фізики Львівського університету<br>
    <a href="http://znc.com.ua/ukr/publ/info/econ2003/nasinnyk_zbignyev_oleksandrovych.php">Збігнєв Насінник</a> (нар. 1935) - доктор економічних наук, професор, завідувач кафедри статистики Тернопільської академії народного господарства<br>
    <a href="https://uk.wikipedia.org/wiki/%D0%9A%D1%83%D1%80%D1%82%D0%B0%D1%88-%D0%9A%D0%B0%D1%80%D0%BF_%D0%AE%D0%BB%D1%96%D1%8F_%D0%9C%D0%B0%D1%80%27%D1%8F%D0%BD%D1%96%D0%B2%D0%BD%D0%B0">Юлія Курташ-Карп</a> (нар. 1959) – українська поетеса, сценаристка, перекладачка, літературний критик та громадська діячка<br>
    <a href="https://uk.wikipedia.org/wiki/%D0%94%D0%B8%D1%87%D0%BA%D0%B0_%D0%9D%D0%B0%D0%B4%D1%96%D1%8F_%D0%A1%D1%82%D0%B5%D0%BF%D0%B0%D0%BD%D1%96%D0%B2%D0%BD%D0%B0
">Надія Дичка</a>  (нар. 1964) – українська поетеса,член національної спілки письменників<br>
    Мирослав Білецький – кандидат географічних наук (1987), доцент кафедри економічної і соціальної географії Львівського національного університету імені Івана Франка<br>
    Сергій Щавінський (нар. 1973)– спортсмен, учасник чемпіонату з волейболу в Японії
    <center><iframe height="400" src="https://www.youtube.com/embed/ZChwNjgWAuY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
</div>


@section JsFiles {

    <environment include="Staging, Production">
    </environment>

    <environment include="Development">
    </environment>
}
