@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/home.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/home.achievements.css" />
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h2>Досягнення</h2>
            </div>
        </div>
    </div>
</div>


 <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">Золоті медалісти</div>
                    <div class="row ">
                        <div class="col-auto"><button id="2018" type="button" class="btn gold-btn">2018</button></div>
                        <div class="col-auto"><button id="2017" type="button" class="btn gold-btn">2017</button></div>
                        <div class="col-auto"><button id="2016" type="button" class="btn gold-btn">2016</button></div>
                        <div class="col-auto"><button id="2015" type="button" class="btn gold-btn">2015</button></div>
                        <div class="col-auto"><button id="2014" type="button" class="btn gold-btn">2014</button></div>
                        <div class="col-auto"><button id="2013" type="button" class="btn gold-btn">2013</button></div>
                        <div class="col-auto"><button id="2012" type="button" class="btn gold-btn">2012</button></div>
                    </div>
                    <div id="golders"></div>
                </div>
                <div class="col-md-6">
                    <div class="title">Срібні медалісти</div>
                    <div class="row">
                        <div class="col-auto"><button id="2018" type="button" class="btn silver-btn">2018</button></div>
                        <div class="col-auto"><button id="2017" type="button" class="btn silver-btn">2017</button></div>
                        <div class="col-auto"><button id="2016" type="button" class="btn silver-btn">2016</button></div>
                        <div class="col-auto"><button id="2015" type="button" class="btn silver-btn">2015</button></div>
                        <div class="col-auto"><button id="2014" type="button" class="btn silver-btn">2014</button></div>
                        <div class="col-auto"><button id="2013" type="button" class="btn silver-btn">2013</button></div>
                        <div class="col-auto"><button id="2012" type="button" class="btn silver-btn">2012</button></div>
                    </div>
                    <div id="silvers"></div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="title" id="_wells">Відмінники навчання</div>
            <div class="row">
                <div class="col-auto"><button id="5" type="button" class="btn blue-btn">5 клас</button></div>
                <div class="col-auto"><button id="6" type="button" class="btn blue-btn">6 клас</button></div>
                <div class="col-auto"><button id="7" type="button" class="btn blue-btn">7 клас</button></div>
                <div class="col-auto"><button id="8" type="button" class="btn blue-btn">8 клас</button></div>
                <div class="col-auto"><button id="9" type="button" class="btn blue-btn">9 клас</button></div>
                <div class="col-auto"><button id="10" type="button" class="btn blue-btn">10 клас</button></div>
                <div class="col-auto"><button id="11" type="button" class="btn blue-btn">11 клас</button></div>
            </div>
            <div id="wells"></div>
        </div>

        <div class="container">
            <div class="title" id="subjects">Переможці Всеукраїнських учнівських олімпіад з базових дисциплін 2018/19 навчального року</div>
            <ul class="nav tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">II (районний) етап</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">III (обласний) етап</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="home"><table class="table table-bordered table-responsive d-md-table"> <thead> <tr> <th>№</td><th>Предмет</td><th>Місце</td><th>Клас</td><th>Прізвище, ім'я</td><th>Вчитель</td></tr></thead> <tbody> <tr class="text-danger"> <td class="default-color">1</td><td class="default-color" rowspan='8'>Математика</td><td>I</td><td>7-А</td><td>Вовківський Володимир</td><td>Зубрицька Л.Т.</td></tr><tr class="text-success"> <td class="default-color">2</td><td>II</td><td>7-А</td><td>Бакаляр Тетяна</td><td>Зубрицька Л.Т.</td></tr><tr> <td>3</td><td>III</td><td>7-А</td><td>Пеляк Богдан</td><td>Зубрицька Л.Т.</td></tr><tr> <td>4</td><td>III</td><td>8-Б</td><td>Мазуркевич Павло</td><td>Штеньович Л.В.</td></tr><tr> <td>5</td><td>III</td><td>9-А</td><td>Григорський Мартін</td><td>Штеньович Л.В.</td></tr><tr> <td>6</td><td>III</td><td>9-А</td><td>Цуцман Микола</td><td>Штеньович Л.В.</td></tr><tr class="text-danger"> <td class="default-color">7</td><td>I</td><td>10</td><td>Чудик Михайло</td><td>Зубрицька Л.Т.</td></tr><tr class="text-success"> <td class="default-color">8</td><td>II</td><td>11</td><td>Штеньович Василь</td><td>Сподар О.В.</td></tr><tr class="text-danger"> <td class="default-color">9</td><td class="default-color" rowspan="10">Українська мова</td><td>I</td><td>7-Б</td><td>Стрижко Ольга</td><td>Ямборко Я.Б.</td></tr><tr class="text-success"> <td class="default-color">10</td><td>II</td><td>7-Б</td><td>Янів Анастасія</td><td>Ямборко Я.Б.</td></tr><tr class="text-success"> <td class="default-color">11</td><td>II</td><td>7-Б</td><td>Копилець Віталія</td><td>Ямборко Я.Б.</td></tr><tr class="text-danger"> <td class="default-color">12</td><td>I</td><td>8-Б</td><td>Тишківська Софія</td><td>Андрейків Н.В.</td></tr><tr> <td>13</td><td>III</td><td>8-Б</td><td>Вовківська Евеліна</td><td>Андрейків Н.В.</td></tr><tr> <td>14</td><td>III</td><td>9-А</td><td>Григорський Мартін</td><td>Андрейків Н.В.</td></tr><tr> <td>15</td><td>III</td><td>9-А</td><td>Костів Анастасія</td><td>Андрейків Н.В.</td></tr><tr class="text-success"> <td class="default-color">16</td><td>II</td><td>10</td><td>Мазуркевич Тетяна</td><td>Гринечко О.С.</td></tr><tr> <td>17</td><td>III</td><td>10</td><td>Якимів Ірина</td><td>Гринечко О.С.</td></tr><tr class="text-danger"> <td class="default-color">18</td><td>I</td><td>11</td><td>Базюк Ірина</td><td>Андрейків Н.В.</td></tr><tr class="text-success"> <td class="default-color">19</td><td class="default-color" rowspan="6">Фізика</td><td>II</td><td>7-А</td><td>Вовківський Володимир</td><td>Сподар В.С.</td></tr><tr> <td>20</td><td>III</td><td>7-А</td><td>Бакаляр Тетяна</td><td>Сподар В.С.</td></tr><tr> <td>21</td><td>III</td><td>8-Б</td><td>Мазуркевич Павло</td><td>Занкович М.М.</td></tr><tr> <td>22</td><td>III</td><td>8-Б</td><td>Вовківська Евеліна</td><td>Занкович М.М.</td></tr><tr class="text-danger"> <td class="default-color">23</td><td>I</td><td>10</td><td>Чудик Михайло</td><td>Занкович М.М.</td></tr><tr> <td>24</td><td>III</td><td>11</td><td>Солодуха Ярослав</td><td>Сподар В.С.</td></tr><tr> <td class="default-color">25</td><td class="default-color" rowspan="5">Англійська мова</td><td>III</td><td>8-Б</td><td>Тишківська Софія</td><td>Мартинюк Л.І.</td></tr><tr> <td>26</td><td>III</td><td>8-Б</td><td>Вовківська Евеліна</td><td>Мартинюк Л.І.</td></tr><tr> <td>27</td><td>III</td><td>9-А</td><td>Криницька Діана</td><td>Швайчук Н.О.</td></tr><tr> <td>28</td><td>III</td><td>9-А</td><td>Григорський Мартін</td><td>Швайчук Н.О.</td></tr><tr> <td>29</td><td>III</td><td>10</td><td>Якимів Ірина</td><td>Мартинюк Л.І.</td></tr><tr> <td>30</td><td class="default-color" rowspan="2">Біологія</td><td>III</td><td>9-А</td><td>Гах Анастасія</td><td>Костюк Н.В.</td></tr><tr class="text-success"> <td class="default-color">31</td><td>II</td><td>9-А</td><td>Костів Анастасія</td><td>Костюк Н.В.</td></tr><tr> <td>32</td><td class="default-color" rowspan="4">Інформатика</td><td>III</td><td>9-А</td><td>Григорський Мартін</td><td>Бруско І.Л.</td></tr><tr class="text-danger"> <td class="default-color">33</td><td>I</td><td>9-А</td><td>Цуцман Микола</td><td>Лаврів І.Д.</td></tr><tr class="text-danger"> <td class="default-color">34</td><td>I</td><td>10</td><td>Чудик Михайло</td><td>Лаврів І.Д.</td></tr><tr class="text-danger"> <td class="default-color">35</td><td>I</td><td>11</td><td>Штеньович Василь</td><td>Лаврів І.Д.</td></tr><tr class="text-success"> <td class="default-color">36</td><td class="default-color" rowspan="1">Економіка</td><td>II</td><td>11</td><td>Солодуха Ярослав</td><td>Гірний А.С.</td></tr><tr class="text-danger"> <td class="default-color">37</td><td class="default-color" rowspan="3">Історія</td><td>I</td><td>8-Б</td><td>Вовківська Евеліна</td><td>Марчак В.В.</td></tr><tr class="text-danger"> <td class="default-color">38</td><td>I</td><td>9-А</td><td>Григорський Мартін</td><td>Марчак В.В.</td></tr><tr class="text-danger"> <td class="default-color">39</td><td>I</td><td>10</td><td>Крисак Соломія</td><td>Марчак В.В.</td></tr><tr class="text-danger"> <td class="default-color">40</td><td class="default-color" rowspan="5">Хімія</td><td>I</td><td>7-А</td><td>Бакаляр Тетяна</td><td>Бакаляр Н.І.</td></tr><tr class="text-success"> <td class="default-color">41</td><td>II</td><td>7-А</td><td>Вовківський Володимир</td><td>Бакаляр Н.І.</td></tr><tr class="text-success"> <td class="default-color">42</td><td>II</td><td>8-Б</td><td>Вовківська Евеліна</td><td>Бакаляр Н.І.</td></tr><tr class="text-success"> <td class="default-color">43</td><td>II</td><td>10</td><td>Мазуркевич Тетяна</td><td>Бакаляр Н.І.</td></tr><tr> <td>44</td><td>III</td><td>11</td><td>Солодуха Ярослав</td><td>Бакаляр Н.І.</td></tr><tr class="text-success"> <td class="default-color">45</td><td class="default-color" rowspan="1">Конкурс ім. Шевченка</td><td>II</td><td>5-Б</td><td>Тишківська Наталія</td><td>Марчак М.М.</td></tr><tr class="text-success"> <td class="default-color">46</td><td class="default-color" rowspan="4">Конкурс ім. Яцика</td><td>II</td><td>5-Б</td><td>Доколяса Діана</td><td>Марчак М.М.</td></tr><tr> <td>47</td><td>III</td><td>7-Б</td><td>Копилець Віталія</td><td>Ямборко Я.Б.</td></tr><tr class="text-danger"> <td class="default-color">48</td><td>I</td><td>8-Б</td><td>Тишківська Софія</td><td>Андрейків Н.В.</td></tr><tr class="text-danger"> <td class="default-color">49</td><td>I</td><td>10</td><td>Якимів Ірина</td><td>Гринечко О.С.</td></tr></tbody> </table></div>
                <div class="tab-pane container fade" id="menu1">
                    <table class="table table-bordered table-responsive d-md-table">
                        <thead>
                            <tr>
                                <th>№</td>
                                <th>Предмет</td>
                                <th>Місце</td>
                                <th>Клас</td>
                                <th>Прізвище, ім'я</td>
                                <th>Вчитель</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-success">
                                <td class="default-color">1</td>
                                <td class="default-color" rowspan='2'>Математика</td>
                                <td>II</td>
                                <td>10</td>
                                <td>Чудик Михайло</td>
                                <td>Зубрицька Л.Т.</td>
                            </tr>
                            <tr>
                                <td class="default-color">2</td>
                                <td>III</td>
                                <td>11</td>
                                <td>Штеньович Василь</td>
                                <td>Сподар О.В.</td>
                            </tr>
                            <tr class="text-danger">
                                <td class="default-color">3</td>
                                <td class="default-color" rowspan='2'>Інформатика</td>
                                <td>I</td>
                                <td>10</td>
                                <td>Чудик Михайло</td>
                                <td>Лаврів І.Д.</td>
                            </tr>
                            <tr class="text-danger">
                                <td class="default-color">4</td>
                                <td>I</td>
                                <td>11</td>
                                <td>Штеньович Василь</td>
                                <td>Лаврів І.Д.</td>
                            </tr>
                            <tr class="text-danger">
                                <td class="default-color">5</td>
                                <td class="default-color" rowspan='1'>Фізика</td>
                                <td>I</td>
                                <td>10</td>
                                <td>Чудик Михайло</td>
                                <td>Занкович М.М.</td>
                            </tr>
                            <tr class="text-success">
                                <td class="default-color">6</td>
                                <td class="default-color" rowspan='2'>Українська мова та література</td>
                                <td>II</td>
                                <td>8</td>
                                <td>Тишківська Софія</td>
                                <td>Андрейків Н.В.</td>
                            </tr>
                            <tr>
                                <td class="default-color">7</td>
                                <td>III</td>
                                <td>11</td>
                                <td>Базюк Ірина</td>
                                <td>Андрейків Н.В.</td>
                            </tr>
                        </tbody>
                    </table>
                </div></div>
        </div>


    @section JsFiles {

        <environment include="Staging, Production">
        </environment>

        <environment include="Development">
        </environment>
    }
