@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/home.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/home.about.css" />
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Звіт про діяльність закладу</h2>
            </div>
        </div>
    </div>
</div>
<center><iframe id="document-iframe" src="https://drive.google.com/file/d/1Z240t23TlFBuNOC-QSF8OP9n8m-PZEVS/preview" height="640"></iframe></center>
<center><iframe id="document-iframe" src="https://drive.google.com/file/d/1t_64ZwX6qY0dzt3x5XnrUoy-5fnfWWGt/preview" height="640"></iframe></center>
<center><iframe id="document-iframe" src="https://drive.google.com/file/d/1bG7M3IbQBCVpGrWEqeKpUbLDadp7layf/preview" height="640"></iframe></center>