@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/home.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/home.about.css" />
    </environment>
}
<style>
    .rules-title{
        font-weight: bold;    
    }
    .uppercase{
        text-transform: uppercase;
    }
    .invitation{
        text-align: center;
        font-size: 30px;
        color: blue;
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h2>Правила вступу</h2>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <p class="rules-title uppercase">Правила конкурсного вступу учнів до Долинського наукового ліцею №1</p>
    <p class="rules-title">І. Загальні положення</p>
    <p>1.1. Дані правила розроблені відповідно до Інструкції про порядок конкурсного приймання дітей до гімназії, ліцеїв, колегіумів, спеціалізованих шкіл (шкіл-інтернатів), затвердженої наказом Міністерства освіти і науки України від 19.06.2003 р. за № 389, Положення про загальноосвітній навчальний заклад та на підставі Статуту наукового ліцею №1.</p>
    <p>1.2. У конкурсному відборі можуть брати участь учні незалежно від місця проживання.</p>
    <p>1.3. випробування здійснюються на безоплатній основі.</p>
    <p class="rules-title">ІІ. Організація конкурсу</p>
    <p>Конкурсні </p>
    <p>2.1. Конкурсний відбір в перші класи проводиться щороку в термін з 26 до 31 травня, в інші класи – протягом червня.</p>
    <p>2.2. За два місяці до початку конкурсу правила конкурсного приймання умови і терміни проведення оголошуються через засоби масової інформації та розміщуються в приміщенні ліцею.</p>
    <p>2.3. Додаткове конкурсне приймання може, як виняток, проводитись у серпні і протягом навчального року за наявності вільних місць і за таких самих умов, що й основний конкурс.</p>
    <p>2.4. Для проведення конкурсного випробування у ліцеї створюється приймальна комісія, склад якої затверджується директором за погодженням з радою ліцею. До складу комісії залучається практичний психолог. Головою комісії є заступник директора ліцею з навчально-виховної роботи.</p>
    <p>2.5. До участі в конкурсі допускаються учні на підставі заяви батьків або осіб, які їх замінюють, що подається на ім’я директора.</p>
    <p>2.6. До конкурсу комісії подаються табеля успішності учня, грамоти, дипломи та інші документи, які підтверджують здібності учнів та відображають їх навчальні або творчі досягнення.</p>
    <p class="rules-title">ІІІ. Проведення конкурсу</p>
    <p>3.1. Конкурсні випробування для учнів, які вступають, проводяться з української мови та математики, психологічних тестів у письмовій формі.</p>
    <p>3.2. Конкурсні випробування для учнів, які вступають до інших класів ліцею проводяться за умови наявності вільних місць, як правило, під час основного приймання.</p>
    <p>3.3. За співбесідою приймаються призери ІІ, ІІІ етапів предметних олімпіад, конкурсів.</p>
    <p>3.4. Завдання для конкурсних випробувань розробляються вчителями та затверджуються директором.</p>
    <p>3.5. Конкурсні завдання, заготовлені на кожного вступника на окремих листках, зберігаються в директора в запечатаному конверті, що його відкриває в день випробування голова предметної комісії у присутності її членів та вступників. Окремий листок із штампом закладу видається для титульної сторінки.</p>
    <p>3.6. Після закінчення випробування письмові роботи шифруються головою приймальної комісії і передаються для перевірки членам цієї комісії без титульної сторінки.</p>
    <p>3.7. Обсяг і тривалість написання вступником письмових робіт визначає голова приймальної комісії.</p>
    <p>3.8. Письмові роботи учасників конкурсу зберігаються протягом 1 року в кабінеті психолога.</p>
    <p>3.9. Результати конкурсних випробувань оформляються у вигляді протоколу приймальної комісії відповідного зразка, який зберігається в тому самому порядку, що й протоколи державної підсумкової атестації.</p>
    <p>3.10. Результати випробування оголошуються не пізніше ніж через три дні після його проведення. Списки вступників вивішуються у приміщенні ліцею для загального ознайомлення.</p>
    <p>3.11. Учні, які хворіли під час проведення конкурсу, зобов’язані надати медичну довідку, на підставі чого їм надається право брати участь у повторних конкурсних випробуваннях.</p>
    <p class="rules-title">ІV. Порядок зарахування</p>
    <p>4.1. Учні, які пройшли конкурс, зараховуються до гімназії наказом директора на підставі рішення приймальної комісії.</p>
    <p>4.2. Учні, які зараховані до ліцею, але не приступили до занять без поважних причин протягом 10 днів з їх початку, відраховуються з ліцею.</p>
    <p class="rules-title">Перелік документів для зарахування до ліцею:</p><ul>
        <li>особова справа учня;</li>
        <li>медичні довідки Форма № 26 і Форма № 63;</li>
        <li>ідентифікаційний код;</li>
        <li>2 фотографії розміру 3*4 (для учнівського квитка).</li>
    </ul>
    <p>Контакти:</p>
    <p>Адреса ліцею:77500, м. Долина, вул. Пачовського, 3</p>
    <p>Тел. для довідок: (03477)2-00-81, (03477)2-00-92.</p>

    <p>Зразки вступних завдань попередніх років: </p>
    <p class="invitation">ЗАПРОШУЄМО ДО ЛІЦЕЮ!<p>
</div>


@section JsFiles {

    <environment include="Staging, Production">
    </environment>

    <environment include="Development">
    </environment>
}