@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/home.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/home.about.css" />
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h2>Фінансова звітність</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <img src="~/images/finances/1.jpg">
    <img src="~/images/finances/2.jpg">
    <img src="~/images/finances/3.jpg">
</div>

@section JsFiles {

    <environment include="Staging, Production">
    </environment>

    <environment include="Development">
    </environment>
}