<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Методичні рекомендації</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p>
        Щодо вивчення у ЗЗСО
        навчальних предметів у 2018/2019
        н. р.
    </p>
    <p>Міністерство освіти і науки надсилає для практичного використання інструктивно-методичні рекомендації щодо вивчення у закладах загальної середньої освіти навчальних предметів у 2018/2019 навчальному році, розроблені спільно з Національною академією педагогічних наук України та Інститутом модернізації змісту освіти.</p>
    <p>
        <a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-ukrayinskoyi-movy-u-2018-2019-navchalnomu-rotsi/">
            Методичні рекомендації щодо викладання української мови у 2018/2019 навчальному році
        </a>
    </p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-ukrayinskoyi-literatury-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання української літератури у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-ukrayinskoyi-movy-v-zakladah-zagalnoyi-serednoyi-osvity-z-navchannyam-movamy-natsionalnyh-menshyn-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання української мови в закладах загальної середньої освіти з навчанням мовами національних меншин у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-zarubizhnoyi-literatura-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання зарубіжної література у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-movy-ta-literatury-v-zakladah-zagalnoyi-serednoyi-osvity-iz-navchannyam-abo-vyvchennyam-mov-natsionalnyh-menshyn-u-2018-2019-n-r/">Методичні рекомендації щодо викладання мови та літератури в закладах загальної середньої освіти із навчанням або вивченням мов національних меншин у 2018/2019 н.р.</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-inozemnyh-mov-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання іноземних мов у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-istoriyi-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання історії у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-pravoznavstva-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання правознавства у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-gromadyanskoyi-osvity-riven-standartu-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання громадянської освіти (рівень стандарту) у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-kursiv-moralno-duhovnogo-spryamuvannya-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання курсів морально-духовного спрямування у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-ekonomiky-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання економіки у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-osvitnoyi-galuzi-pryrodoznavstvo-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання освітньої галузі «Природознавство» у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-biologiyi-ta-ekologiyi-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання біології та екології у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-geografiyi-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання географії у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-fizyky-ta-astronomiyi-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання фізики та астрономії у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-himiyi-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання хімії у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-matematyky-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання математики у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-informatyky-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання інформатики у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-zahystu-vitchyzny-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання захисту Вітчизни у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-fizychnoyi-kultury-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання фізичної культури у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-trudovogo-navchannya-tehnologiyi-ta-kreslennya-u-2018-2019-navchalnomu-rotsi/">Методичні рекомендації щодо викладання трудового навчання (технології) та креслення у 2018/2019 навчальному році</a></p>
    <p><a href="https://www.schoollife.org.ua/metodychni-rekomendatsiyi-shhodo-vykladannya-predmetiv-hudozhno-estetychnogo-tsyklu-u-2018-2018-navchalnomu-rotsi/">Методичні рекомендації щодо викладання предметів художньо-естетичного циклу у 2018/2019 навчальному році</a></p>
</div>