<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Нормативно-правова база</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    

    <p>Право на освіту - це право людини на здобуття певного обсягу знань,
    культурних навичок, професійної орієнтації, які необхідні для успішної
    життєдіяльності в умовах сучасного суспільства.
    За положенням статті 53 Конституції України, право на освіту
    гарантовано кожному. Держава забезпечує доступність і безоплатність
    дошкільної, повної загальної середньої, професійно-технічної, вищої освіти в
    державних і комунальних закладах. Право на освіту гарантується кожній
    людині на принципах рівності, визначених статтею 24 Конституції України.
    Визнання права кожної людини на освіту відповідає, зокрема, Загальній
    декларації прав людини (стаття 26), Міжнародному пакту про екологічні,
    соціальні та культурні права (стаття 13).</p>
    <p>
        Атестація педагогічних працівників регулюється низкою нормативних
        документів.
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2013/Metodyka/Atestatsia/Pol.doc">
            1. Типове положення про атестацію педагогічних працівників (Наказ
            Міністерства освіти і науки, молоді та спорту України від 20 грудня
            2011 року № 1473 (із змінами, затвердженими наказом Міністерства
            освіти і науки України від 08 серпня 2013 року № 1135))
        </a>
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2013/Metodyka/Atestatsia/1_9-617.zip">
            2. Про застосування Типового положення про атестацію педагогічних
            працівників (лист Міністерства освіти і науки України від 10.09.2013
            №1/9-617)
        </a>
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2013/Metodyka/Atestatsia/14_36___i__i_1_9-165.doc">
            3. Про деякі питання  атестації соціальних педагогів (лист Міністерства
            освіти і науки України від 20.03.2014 року № 1/9-165)</a>
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2013/Metodyka/Atestatsia/1_9-586.doc">
            4. Щодо здійснення вчителем науково-дослідницької діяльності та
            пошукової роботи (11.11.2014  №1/9-586)
        </a>
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2015/01_15-0941.doc">
            5. «Щодо підтвердження відомостей про присвоєння кваліфікаційної
            категорії» (лист МОУ від 09.06.2015)
        </a>
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2015/Atestacija/1.doc">
            6. &quot;Про затвердження переліку кваліфікаційних категорій і педагогічних
            звань педагогічних працівників та порядку їх присвоєння&quot; (Постанова
            КМУ від 23 грудня 2015 р. № 1109)
        </a>
    </p>
    <p>
        <a href="http://loippo.lviv.ua/files/2015/Atestacija/16_01_____i.doc">
            7. &quot;Щодо зміни до переліку закладів і установ освіти, охорони здоров&quot;я та
            соціального захисту і посад, робота на яких дає право на пенсію за
            вислугу років&quot;(Лист МОН від 29.12.15 № 02-23/1147)
        </a>
    </p>

    <p><span class="font-weight-bold">Сертифікація вчителів у 2019 році – що відомо сьогодні.</span></p>

    <p>
        Кабінетом Міністрів затверджений план заходів на 2017—2029 роки із
        запровадження Концепції реалізації державної політики у сфері
        реформування загальної середньої освіти «Нова українська школа». Один із
        його пунктів – «підвищення соціального статусу вчителя». Робити це
        збираються за допомогою системи добровільної сертифікації. Впроваджувати
        її планують у два етапи:
    </p>
    <p>
        IV квартал 2018 р. - сформувати політику та розробити механізм підвищення
        соціального статусу вчителя на основі системи добровільної сертифікації
        Протягом 2019—2020 років - реалізувати політику та впровадити механізм
        підвищення соціального статусу вчителя на основі системи добровільної
        сертифікації.
    </p>
    <p>
        <span class="font-weight-bold">ЩО ТАКЕ СЕРТИФІКАЦІЯ?</span>
            Згідно із законом (новий Закон про освіту, стаття 51), сертифікація
            педагогічних працівників - це зовнішнє оцінювання професійних
            компетентностей педагогічного працівника (у тому числі з педагогіки та
            психології, практичних вмінь застосування сучасних методів і технологій
            навчання), що здійснюється шляхом незалежного тестування,
            самооцінювання та вивчення практичного досвіду роботи. Сертифікація:
            Добровільна – ініціювати її може лише сам педагогічний працівник
            частина системи зовнішнього забезпечення якості освіти

            забезпечувана МОН України
            буде проводитися спеціально уповноваженими державою установами
            відзначає успішне проходження сертифікатом.
</p>
    <p><span class="font-weight-bold">СЕРТИФІКАЦІЯ = АТЕСТАЦІЯ?</span></p>
    <p>
        У законі визначено, що успішне проходження сертифікації зараховується як
        проходження атестації. Однак ці процедури не можна вважати тотожними.
        Правила не змінилися – атестацію, як і раніше, забов’язані проходити всі
        педагогічні працівники, мінімум раз на п’ять років. Строк же дії сертифіката
        – три роки.
    </p>
    <p>
        <span class="font-weight-bold">ЩО ДАЄ СЕРТИФІКАЦІЯ ВЧИТЕЛЯ?</span> 
    З першого січня 2017 року набуде чинності частина 5 статті 61, що
    передбачає 20% доплати педагогічним працівникам, які пройшли
    добровільну сертифікацію: &quot;Педагогічний працівник, який пройшов
    сертифікацію, отримує щомісячну доплату в розмірі 20% посадового окладу
    (ставки заробітної плати) пропорційно до обсягу педагогічного навантаження
    протягом строку дії сертифіката&quot;. Також сертифікований вчитель має право
    впроваджувати та поширювати методики компетентнісного навчання та
    нових освітніх технологій. МОН обіцяє педагогам, що пройшли
    сертифікацію, участь у інституційному аудиті інших закладів освіти та
    розробці й акредитації освітніх програм.
</p>
</div>