<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Нормативно-правова база</h2>
            </div>
        </div>
    </div>
</div>

<center><iframe src="https://drive.google.com/file/d/1ynPiMD2mWsU7NjPs4eZHcDIyYwQrftHB/preview" width="40%" height="640"></iframe></center>