<div class="container">
    <h5 class="text-center font-weight-bold mt-5 mb-4">Матеріально-технічне забезпечення закладу освіти (згідно з ліцензійними умовами)</h5>
    <p>Долинський науковий ліцей №1 Долинської районної ради Івано-Франківської області розташований за адресою: м. Долина, вул. Пачовського, 3. Заклад знаходиться у комунальній власності. Стан будівлі – добрий, освітлення відповідає санітарно-гігієнічним нормам. Навчання відбувається в одну зміну. Середня наповнюваність класів по закладу складає 22 учні. Загальна площа корпусів ліцею складає 3070,4 м2.</p>
    <p>Заклад здійснює свою діяльність відповідно до Статуту, затвердженого рішенням Долинської районної ради Івано-Франківської області від 18 травня 2018 року № 535-28/2018.</p>
    <p>Територія закладу огороджена та утримується в доброму стані.</p>
    <p>Для реалізації освітнього процесу в ліцеї наявні 25 класних приміщень.</p>
    <p>Ліцей має спортивний комплекс, що включає в себе будівлю спорткомплексу з великим та малим спортивним залом, роздягальнями, душовими кімнатами. Крім того, є футбольне поле 100x70, бігові доріжки, спортивний майданчик з тренажерами. Загальна площа земельної ділянки становить 1,9991 м2 (на земельні ділянки отримано державні акти).</p>
    <p>У закладі наявні:</p>
    <ul>
        <li>1 кабінет української мови та літератури;</li>
        <li>1 кабінет математики;</li>
        <li>1 кабінет іноземної мови;</li>
        <li>1 кабінет історії;</li>
        <li>1 кабінет біології;</li>
        <li>1 кабінет фізики;</li>
        <li>1 кабінет хімії;</li>
        <li>3 кабінети інформатики;</li>
        <li>1 кабінет предмету «Захисту Вітчизни»;</li>
        <li>1 кабінет трудового навчання;</li>
        <li>1 практичного психолога (робочий);</li>
        <li>1 навчальний психологічний кабінет;</li>
        <li>1 мультимедійний кабінет.</li>
    </ul>
    <p>Навчальний заклад має кабінет для педагогічних працівників (учительську), кабінет заступників директора з навчально-виховної роботи (методкабінет), медичний кабінет, кабінет директора, приймальню, кабінет соціального педагога, навчальні лабораторії (фізики, біології), кабінет завгоспа, бібліотеку, архівне приміщення.</p>
    <p>Кожен навчальний кабінет укомплектований партами, стільцями для кожного учня; столами і стільцями для обладнання кожного робочого місця педагогічного працівника в навчальних кабінетах, шафами у кожному навчальному кабінеті, класними дошками для кожного навчального кабінету.</p>
    <p>У закладі працює три кабінети інформатики. У кабінеті встановлені навчальні комп’ютерні комплекси (12+1) з ліцензованим програмним забезпеченням та інтерактивна дошка. Всі комп’ютери знаходяться в локальній мережі та підключені до мережі Internet.</p>
    <p>Кабінети інформатики відповідають вимогам чинних Державних санітарних правил та норм влаштування і обладнання кабінетів комп’ютерної техніки в навчальних закладах.</p>
    <p>Члени адміністрації використовують 5 сучасних комп’ютерів. Крім того, 38 комп’ютерів установлено в навчальних кабінетах, 1 – в бібліотеці.</p>
    <p>У закладі працює 1 точка доступу до мережі Інтернет через Wi-Fi технології.</p>
    <p>Стан забезпечення сучасною комп’ютерною технікою відображено в таблиці:</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td rowspan="7">1.</td>
                <td>Усього ПК у закладі</td>
                <td>48</td>
            </tr>
            <tr>
                <td colspan="2">Із них</td>
            </tr>
            <tr>
                <td>Робочі місця учнів в кабінеті інформатики</td>
                <td>38</td>
            </tr>
            <tr>
                <td>Робочі місця в кабінеті фізики</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Робоче місце учителя інформатики</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Робочі місця адміністрації</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Бібліотека</td>
                <td>5</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Принтери</td>
                <td>7</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>
                    Сканери та БФП
                    (принтер+сканер+ксерокс)
                </td>
                <td>7</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>
                    Інтерактивні комплекси (інтерактивна
                    дошка, проектор)
                </td>
                <td>2</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Локальна мережа</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>ПК, що підключені до мережі Інтернет</td>
                <td>48</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>
                    Кількість учнів на один ПК в кабінетах
                    інформатики
                </td>
                <td>1</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>
                    Проектори
                </td>
                <td>7</td>
            </tr>
        </tbody>
    </table>

    <p>Доступ закладу до мереж Інтернет надається провайдером «Укртелеком».</p>
    <p>Завдяки підключенню до мережі Інтернет заклад здійснює електронний документообіг з управлінням освіти.</p>
    <p>Кожен навчальний кабінет має паспорт, в якому відображені загальні санітарно-гігієнічні умови приміщення кабінету, організація робочих місць, режим роботи кабінету, перелік методичної літератури, дидактичний та роздатковий матеріал, наочні посібники та технічне обладнання, постійні і змінні експозиції, в більшості кабінетів систематизовано навчально-методичне забезпечення.</p>
    <p>Всі кабінети, де проводяться навчальні заняття, відповідають Положенню про навчальні кабінети загальноосвітніх навчальних закладів, яке затверджене наказом МОН України за № 601 від 20.07.2004 р., Державним санітарним правилам і нормам влаштування, утримання загальноосвітніх навчальних закладів та організації навчально-виховного процесу, які погоджені листом МОН України від 05.06.2001 р. за № 1/12-1459 та затверджені Постановою Головного державного санітарного лікаря України від 14.08.2001 р. за № 63, в них створені необхідні умови для занять.</p>
    <p>Навчально-методичне забезпечення дозволяє в повному обсязі виконувати освітні програми, за якими працює колектив учителів.</p>
    <p>У закладі працює бібліотека, яка в своєму складі має читальну залу, кімната видачі та зберігання підручників. В читальній залі є 1 персональний комп’ютер, що підключений до мережі Інтернет.</p>
    <p>Бібліотечно-бібліографічний фонд бібліотеки закладу станом на 01.01.2019 року нараховує 17043 екземпляри. З них основний бібліотечний фонд (без урахування підручників) становить10004  примірники.</p>
    <p>Фонд підручників нараховує 7039 екземпляри.</p>
    <p>З них:</p>
    <ul>
        <li>5-9 класи – 5632 екземпляри</li>
        <li>10-11 класи – 1407 екземплярів.</li>
    </ul>
    <p>Зазначена навчально-методична та довідкова  література використовується за призначенням.</p>
    <p>У закладі є 4 внутрішні туалети (1 туалет для дівчат, 1 туалет для хлопців, 1 туалет для педагогічних працівників, 1 туалет для працівників їдальні). Якість ремонту вбиралень – достатня.</p>
    <p>У закладі проведено роботу по естетичному оформленню коридорів, класних кімнат, навчальних та адміністративних кабінетів, їдальні, влучно підібрано кольорову гаму. В закладі чітко простежується єдиний підхід до оформлення всього приміщення закладу.</p>
</div>