@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/home.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/treeview.css" />

    </environment>
}


<div class="row">
    <div class="col-md-12">
        <div class="heading adaptive-heading">
            <h2>Науково-методична робота</h2>
        </div>
    </div>
</div>

<div class="container">
    <ul data-role="treeview">
        <li data-caption="Методичні об'єднання">
            <ul>
                <li data-caption="Методичне об'єднання вчителів зарубіжної літератури">
                    <ul>
                        <li><a href="squad.html">Склад</a></li>
                        <li><a href="#">Презентація</a></li>
                    </ul>
                </li>
                <li data-caption="Методичне об'єднання вчителів фізичної культури, ЗВ, ОЗ">
                    <ul>
                        <li><a href="squad.html">Склад</a></li>
                        <li><a href="#">Презентація</a></li>
                    </ul>
                </li>
                <li data-caption="Методичне об'єднання вчителів природничих дисциплін">
                    <ul>
                        <li><a href="squad.html">Склад</a></li>
                        <li><a href="#">Презентація</a></li>
                    </ul>
                </li>
                <li data-caption="Методичне об'єднання вчителів математики">
                    <ul>
                        <li><a href="squad.html">Склад</a></li>
                        <li><a href="#">Презентація</a></li>
                    </ul>
                </li>
                <li data-caption="Методичне об'єднання вчителів української мови та літератури">
                    <ul>
                        <li><a href="squad.html">Склад</a></li>
                        <li><a href="#">Презентація</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li data-caption="Атестація педпрацівників">
            <ul>
                <li><a href="#">Нормативно-правова база</a></li>
                <li><a href="#">Перспективний план атестації педагогів</a></li>
                <li data-caption="Атестація педпрацівників">
                    <ul>
                        <li><a href="#">2017/18</a></li>
                        <li><a href="#">2018/19</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li data-caption="Методичні рекомендації">
            <ul>
                <li><a href="#">2017/18</a></li>
                <li><a href="#">2018/19</a></li>
            </ul>
        </li>
    </ul>
</div>

@section JsFiles {

    <environment include="Staging, Production">
        <script src="~/js/bundles/home.min.js" type="text/javascript"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/metro/js/metro.min.js" type="text/javascript"></script>
    </environment>
}


