<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Атестація педпрацівників</h2>
            </div>
        </div>
    </div>
</div>

<p class="text-center font-weight-bold">Графік атестації педагогічних працівників Долинського науковоголіцею №1</p>
<center><iframe id="document-iframe" src="https://drive.google.com/file/d/1HZ3VZHH7jz8fgmNZoTEYXSeAgG_JdkWT/preview" height="640"></iframe></center>
<p class="text-center font-weight-bold">Список педагогічних працівників Долинського наукового ліцею №1, які підлягають черговій атестації у 2019 році</p>
<center><iframe id="document-iframe" src="https://drive.google.com/file/d/1GQD431of0bds0TQv1aaCpJlFj9eNxM5S/preview" height="640"></iframe></center>
<p class="text-center font-weight-bold">Протокол засідання атестаційної комісії І рівня Долинського наукового ліцею №1</p>
<center><iframe id="document-iframe" src="https://drive.google.com/file/d/1kBFSRAVu2LV97NkZOUf6SMbGEMCKVitu/preview" height="640"></iframe></center>
