<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Перспективний план атестації педагогів</h2>
            </div>
        </div>
    </div>
</div>

<center><iframe id="document-iframe" src="https://drive.google.com/file/d/10rmLE8LF4VBDeNvZoup8Gi55bYuYYvJr/preview" height="640"></iframe></center>
