@section CssFiles {
    <environment include="Staging, Production">
        
    </environment>

    <environment include="Development">
        
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>Річний план ліцею</h2>
            </div>
        </div>
    </div>
</div>

<center><iframe src="https://drive.google.com/file/d/1KOafxF8szmtQgFBJqex7dJbegfRwQyvs/preview" width="40%" height="640"></iframe></center>


@section JsFiles {

    <environment include="Staging, Production">
    </environment>

    <environment include="Development">
    </environment>
}