@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/news.min.css" />
    </environment>

    <environment include="Development">
    </environment>
}

@model NewsViewModel

@{
    var newsPhoto = string.Format("data:image/gif;base64,{0}", Model.Photo);
}
<style>
    .rightimg {
        float: right;
        margin: 7px 0 7px 70px;
        height: 245px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h2>@Model.Title</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <img src="@newsPhoto" class="rightimg">
            @Model.LongDescription
        </p>
    </div>
</div>


@section JsFiles {

    <environment include="Staging, Production">
    </environment>

    <environment include="Development">
    </environment>
}
