@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/news.min.css" />
    </environment>

    <environment include="Development">
    </environment>
}

@model NewsViewModel

@{
    var newsPhoto = string.Format("data:image/gif;base64,{0}", Model.Photo);
    ViewBag.NewsShareImage = newsPhoto;
    ViewBag.NewsShareTitle = Model.Title;
    ViewBag.NewsShareDescription = Model.ShortDescription;
}
<style>
    .rightimg {
        float: right;
        margin: 7px 0 7px 70px;
        height: 245px;
    }
    p{
        line-height: 1.7;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>@Model.Title</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <img src="@newsPhoto" class="rightimg">
            @Model.LongDescription
        </p>
    </div>
    <div class="row">
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_google_plus"></a>
            <a class="a2a_button_viber"></a>
        </div>
    </div>
</div>


@section JsFiles {

<environment include="Staging, Production">
    <script async src="https://static.addtoany.com/menu/page.js"></script>
</environment>

    <environment include="Development">
    </environment>
}
