@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/news.min.css" />
    </environment>

    <environment include="Development">
    </environment>
}

@model NewsViewModel

@{
    var newsPhoto = string.Format("data:image/gif;base64,{0}", Model.Photo);
    ViewBag.NewsShareImage = newsPhoto;
    ViewBag.title = Model.Title;
    ViewBag.description = Model.ShortDescription;
}
<style>
    .rightimg {
        float: right;
        margin: 7px 0 7px 70px;
        height: 245px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>@Model.Title</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <img src="@newsPhoto" class="rightimg">
            @Model.LongDescription
        </p>
    </div>
    <div class="row">

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>

    </div>
</div>


@section JsFiles {

<environment include="Staging, Production">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bdd5b759b8f5588"></script>
</environment>

    <environment include="Development">
    </environment>
}
