<div id="content">
    <main id="main" class="panel">
        <i class="fas fa-bars js-slideout-toggle"></i>
        <figure>
            <img class="avatar" src="https://www.weblancer.net/img/userpic_male.png" width=150>
            <figcaption>Толстый кот</figcaption>
        </figure>
        <p></p>
    </main>
</div>

Ви зараєструвалися
@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}