body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
/*Слайдер*/
.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}

.header-text {
    position: absolute;
    top: 25%;
    left: 1.8%;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h1 {
    font-size: 50px;
}

@media screen and (max-width: 992px) {
    .header-text h1 {
        font-size: 30px;
    }

    .header-text h3 {
        display: none;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        height: 20px;
        width: 20px;
    }
}

.header-text h3 {
    font-size: 20px;
}

#about-us-button {
    color: white;
    font-size: 20px;
    background-color: #e36252;
    padding: 5px 30px;
    margin-top: 30px;
}

#about-us-button:hover {
    background-color: #bf4839;
}

/*Important links*/
#important-links {
    margin-top: 30px;
}

#important-links a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.important-links_title {
    margin-top: 10px;
}

.implnk-icon {
    width: 200px;
}


/*News*/
.heading {
    margin-top: 70px;
}

#news-carousel {
    margin-bottom: 100px;
}

#news-carousel .carousel-inner .carousel-item.active,
#news-carousel .carousel-inner .carousel-item-next,
#news-carousel .carousel-inner .carousel-item-prev {
    display: flex;
}

#news-carousel .carousel-inner .carousel-item-right.active,
#news-carousel .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
}

#news-carousel .carousel-inner .carousel-item-left.active,
#news-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
}

#news-carousel .carousel-inner .carousel-item-right,
#news-carousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

#news-carousel .date {
    margin: 5px 0 3px 0;
}

#news-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#news-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#news-carousel .carousel-control-prev {
    margin-left: -150px;
}

#news-carousel .carousel-control-next {
    margin-right: -150px;
}
