@import "variables.less";

.col-auto {
    padding-right: 0px;
    padding-left: 8px;
}

.title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 670;
}

#wells, #subjects {
    margin-top: 35px;
}

#golders, #silvers, #wells, {
    margin-top: 10px;
    font-size: 18px;
}

.gold-btn {
    background-color: @gold-button-background;
}

.silver-btn {
    background-color: @silver-button-background
}

.blue-btn {
    background-color: @blue-button-background;
}

.gold-btn, .silver-btn, .blue-btn {
    color: white;
    margin-top: 10px;
}

.default-color {
    color: #212529;
}
.table td, .table th {
    vertical-align: middle;
    text-align: center;
}
.tabs {
    li {
        margin: 0 auto;
    }
}

li {
    .active {
        border-bottom: 2px solid #5b76a3;
    }
}

.nav-link {
    padding: .3rem .3rem;
}

a {
    transition: none;

    &:hover {
        transition: none;
        color: #212529;
    }

    &:focus {
        transition: none;
    }
}

.tab-pane {
    padding-top: 20px;

    p {
        margin-bottom: .7rem;
    }
}
