.col-sm-4, .col-6 {
    margin-top: 10px;
}

.container h2 {
    margin: 30px 0 15px 10px;
}

.container h1 {
    font-size: 2em;
    margin: 0px 0 15px 10px;
}

.name {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.teacher-photo {
    width: 80%;
}

@media screen and (max-width: 500px) {
    .container h2 {
        font-size: 1.4em;
    }

    .container h1 {
        font-size: 1.4em;
    }

    .name {
        font-size: 15px;
    }

    .teacher-info {
        font-size: 13px;
    }
}
