.text-row {
  margin: 10px 0 25px;
  font-size: 18px;
}
.fas {
  margin-right: 10px;
}
.title {
  margin: 10px 0 25px;
  font-size: 19px;
  font-weight: 600;
}
.send {
  background-color: #e36252;
  color: white;
  width: 100%;
  height: 50px;
}
textarea {
  min-height: 80px;
}
