
<div class="row">
    <div class="col-md-12">
        <div class="heading adaptive-heading">
            <h2>Адміністрація закладу</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-6">
            <center>
                <img src="http://placehold.it/275x180?text=1" class="teacher-photo">
                <div class="name">Ім'я Прізвище</div>
                <div class="teacher-info">Директор ліцею</div>
                <div class="teacher-info">Вчитель математики</div>
                <div class="teacher-info">Якась категорія</div>

            </center>
        </div>
        <div class="col-sm-4 col-6">
            <center>
                <img src="http://placehold.it/275x180?text=2" class="teacher-photo">
                <div class="name">Ім'я Прізвище</div>
                <div class="teacher-info">Заступник директора ліцею</div>
                <div class="teacher-info">Вчитель математики</div>
                <div class="teacher-info">Якась категорія</div>

            </center>
        </div>
        <div class="col-sm-4 col-6">
            <center>
                <img src="http://placehold.it/275x180?text=3" class="teacher-photo">
                <div class="name">Ім'я Прізвище</div>
                <div class="teacher-info">Заступник директора ліцею</div>
                <div class="teacher-info">Вчитель математики</div>
                <div class="teacher-info">Якась категорія</div>

            </center>
        </div>
        <div class="col-sm-4 col-6">
            <center>
                <img src="http://placehold.it/275x180?text=3" class="teacher-photo">
                <div class="name">Ім'я Прізвище</div>
                <div class="teacher-info">Заступник директора ліцею</div>
                <div class="teacher-info">Вчитель математики</div>
                <div class="teacher-info">Якась категорія</div>
            </center>
        </div>
    </div>
</div>


@section JsFiles {

    <environment include="Staging, Production">
    </environment>

    <environment include="Development">
    </environment>
}