<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DNL</title>

    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/layout.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/css/layout.css" />
    </environment>
</head>
<body>
    <header>
        Header
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        Footer
    </footer>


    <environment include="Staging, Production">
        <script src="~/js/bundles/layout.min.js"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery.js"></script>
        <script src="~/lib/jquery.validate.js"></script>
        <script src="~/lib/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/tether.js"></script>
        <script src="~/lib/bootstrap.js"></script>
        <script src="~/js/layout.js"></script>
    </environment>

    <!-- add js files from partial views -->
    @RenderSection("JsFiles", required: false)

</body>
</html>
