<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        PROFILE LAYOUT
    </header>
    <section>
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <p class="sidebar-title">Управління кабінетом</p>

                <li><a href="profile.html"><i class="fas fa-home"></i><span class="li-text"> Мій профіль</span></a></li>
                <li><a href="e-journal.html"><i class="fas fa-briefcase"></i><span class="li-text"> Журнал</span></a></li>
                <li><a href="vns.html"><i class="fas fa-graduation-cap"></i><span class="li-text"> Віртуальне навчальне середовище</span></a></li>
                <li><a href="../index.html"><i class="fas fa-sign-out-alt"></i><span class="li-text"> Вийти</span></a></li>

                <p class="sidebar-title">Адміністрування сайту</p>
                <li><a href="news.html"><i class="fas fa-newspaper"></i><span class="li-text"> Новини</span></a></li>
                <li><a href="#"><i class="fas fa-calendar-alt"></i><span class="li-text"> Розклад</span></a></li>
                <li><a href="#"><i class="fas fa-images"></i><span class="li-text"> Фотогалерея</span></a></li>
            </ul>
        </nav>




        <div class="wrapper">
            <nav id="sidebar-big">
                <ul class="list-unstyled components">
                    <p class="sidebar-title">Управління кабінетом</p>
                    <li><a href="profile.html"><i class="fas fa-home"></i><span class="li-text"> Мій профіль</span></a></li>
                    <li><a href="e-journal.html"><i class="fas fa-briefcase"></i><span class="li-text"> Журнал</span></a></li>
                    <li><a href="vns.html"><i class="fas fa-graduation-cap"></i><span class="li-text"> Віртуальне навчальне середовище</span></a></li>
                    <li><a href="../index.html"><i class="fas fa-sign-out-alt"></i><span class="li-text"> Вийти</span></a></li>

                    <p class="sidebar-title">Адміністрування сайту</p>
                    <li><a href="news.html"><i class="fas fa-newspaper"></i><span class="li-text"> Новини</span></a></li>
                    <li><a href="#"><i class="fas fa-calendar-alt"></i><span class="li-text"> Розклад</span></a></li>
                    <li><a href="#"><i class="fas fa-images"></i><span class="li-text"> Фотогалерея</span></a></li>
                </ul>
            </nav>
            @*<div id="content">
                <main id="main" class="panel">
                    <i class="fas fa-bars js-slideout-toggle"></i>
                    <figure>
                        <img class="avatar" src="https://www.weblancer.net/img/userpic_male.png" width=150>
                        <figcaption>Толстый кот</figcaption>
                    </figure>
                    <p></p>
                </main>
            </div>*@

        </div>
    </section>
    <div>
        @RenderBody()
    </div>
</body>
</html>
