<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/profile.layout.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="~/css/profile.layout.css" />
        <link type="text/css" rel="stylesheet" href="~/lib/font-awesome.min.css" />
    </environment>

    <!-- add css files from partial views -->
    @RenderSection("CssFiles", required: false)
</head>
<body>

    <!-- Mobile menu -->
    <div class="sidebar-menu" id="mobile-menu">
        <p>Кабінет</p>
        <ul class="list-unstyled">
            <li><a asp-controller="Profile" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i>Мій профіль</a></li>
            <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>Журнал</a></li>
            <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i>ВНС</a></li>
            <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i>Повернутися до сайту</a></li>
            <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Вийти</a></li>
        </ul>

        <p>Адміністрування сайту</p>
        <ul class="list-unstyled">
            <li><a asp-controller="News" asp-action="Index"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Новини</a></li>
            <li><a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Розклад</a></li>
            <li><a asp-controller="PhotoGallery" asp-action="Index"><i class="fa fa-picture-o" aria-hidden="true"></i>Фотогалерея</a></li>
            <li><a asp-controller="Teacher" asp-action="MethodicalAssociationIndex"><i class="fa fa-users" aria-hidden="true"></i>Методичні об'єднання</a></li>
            <li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-user" aria-hidden="true"></i>Користувачі</a></li>
        </ul>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 sidebar-menu p-0" id="desktop-menu">
                <p>Кабінет</p>
                <ul class="list-unstyled">
                    <li><a asp-controller="Profile" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i>Мій профіль</a></li>
                    <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>Журнал</a></li>
                    <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i>ВНС</a></li>
                    <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i>Повернутися до сайту</a></li>
                    <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Вийти</a></li>
                </ul>

                <p>Адміністрування сайту</p>
                <ul class="list-unstyled">
                    <li><a asp-controller="News" asp-action="Index"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Новини</a></li>
                    <li><a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Розклад</a></li>
                    <li><a asp-controller="PhotoGallery" asp-action="Index"><i class="fa fa-picture-o" aria-hidden="true"></i>Фотогалерея</a></li>
                    <li><a asp-controller="Teacher" asp-action="MethodicalAssociationIndex"><i class="fa fa-users" aria-hidden="true"></i>Методичні об'єднання</a></li>
                    <li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-user" aria-hidden="true"></i>Користувачі</a></li>
                </ul>
            </div>
            <div class="col-lg-9 col-12 p-0">
                <main id="main" class="panel">
                    <i class="fa fa-bars js-slideout-toggle"></i>
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>



    <environment include="Staging, Production">
        <script src="~/js/bundles/profile.layout.min.js"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery.js"></script>
        <script src="~/lib/jquery.validate.js"></script>
        <script src="~/lib/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/tether.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/profile.layout.js"></script>
        <script src="~/lib/cropper/cropper.min.js"></script>
    </environment>

    <!-- add js files from partial views -->
    @RenderSection("JsFiles", required: false)

</body>
</html>
