<environment include="Staging, Production">
    <link type="text/css" rel="stylesheet" href="~/css/404.css" />
</environment>

<environment include="Development">
    <link type="text/css" rel="stylesheet" href="~/css/404.css" />
</environment>


<!-- Error Page -->
<div class="error">
    <div class="container-floud">
        <div class="col-xs-12 ground-color text-center">
            <div class="container-error-404">
                <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                <div class="msg">Ox!<span class="triangle"></span></div>
            </div>
            <h2 class="h1">Вибачте! Сторінка ще не готова.</h2>
        </div>
    </div>
</div>
<!-- Error Page -->


<environment include="Staging, Production">
    <script src="~/js/404.js"></script>
</environment>

<environment include="Development">
    <script src="~/js/404.js"></script>
</environment>