@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/timetable.min.css" />
    </environment>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="~/css/timetable.index.css" />
        <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h2>Розклад</h2>
            </div>
        </div>
    </div>
</div>


<!-- Select -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-auto dropdowns-pre-text">Тип</div>
        <div class="col-md-auto">
            <select id="type" class="selectpicker">
                <option value="classes" selected>Учні</option>
                <option value="teachers">Вчителі</option>
                <option value="bells">Дзвінки</option>
                <option value="halfs">Семестри</option>
            </select>
        </div>
        <div id="changing-text" class="col-md-auto dropdowns-pre-text">Клас</div>
        <div class="col-md-auto">
            <span id="classes">
                <select data-size="7" data-live-search="true" class="selectpicker">
                    <option>5-A</option>
                    <option>5-Б</option>
                    <option>6-A</option>
                </select>
            </span>
            <span id="teachers">
                <select data-size="7" data-live-search="true" class="selectpicker">
                    <optgroup label="Вчителі математики">
                        <option>Штеньович Л.В.</option>
                        <option>А</option>
                        <option>Square</option>
                    </optgroup>
                    <optgroup label="Вчителі математики">
                        <option>Math</option>
                        <option>Штеньович Л.В.</option>
                        <option>Square</option>
                    </optgroup>
                </select>
            </span>

        </div>

    </div>
</div>


<!-- Таблиця -->
<div class="container">
    <table class="table table-bordered table-bg ">
        <thead>
            <tr class="table-headings">
                <th scope="col">#</th>
                <th scope="col">Понеділок</th>
                <th scope="col">Вівторок</th>
                <th scope="col">Середа</th>
                <th scope="col">Четвер</th>
                <th scope="col">П'ятниця</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="table-headings">1</th>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="table-headings">2</th>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="table-headings">3</th>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="table-headings">4</th>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="table-headings">5</th>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="table-headings">6</th>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
                <td>
                    <div class="lesson">Українська</div>
                    <div class="techer">Андрейків Н.В.</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section JsFiles {

    <environment include="Staging, Production">
        <script src="~/js/bundles/timetable.min.js" type="text/javascript"></script>
    </environment>

    <environment include="Development">
        <script src="~/js/timetable.js" type="text/javascript"></script>
        <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    </environment>
}
